body {
  font-family: 'Lato', sans-serif;
  background: #303030;
}

.statusbar {
  width: 100%;
  position: fixed;
  top: 0;
  background: black;
  padding: 5px;
  padding-right: 10px;
  z-index: 100;
}

.statusbar > div > a {
  margin-left: 15px;
  color: #1976D2;
  text-transform: uppercase;
  transition: color 1s;
}

.statusbar > div > a:hover {
  color: rgba(25, 118, 210, 0.65);
}

.navbar-fixed {
  margin-top: 32px;
}

nav {
  background: #1976D2;
}

a.brand-logo {
  padding-left: 15px;
}

/* project array */
.projectarray-wrapper {
  width: 100%;
  min-height: calc(100vh - 96px);
  background: #212121;
  padding: 40px 40px;
  position: relative;
}

.projectarray-more {
  position: absolute;
  bottom: 0;
  color: white;
  text-align: center;
  width: calc(100vw - 64px);
  margin-bottom: 20px;
  transition: background 1s;
}

.projectarray-more:hover {
  background: rgba(255,255,255,0.01);
}

.projectarray-more > p {
  font-size: 20px;
}
.projectarray-more > p > i {
  padding: 5px;
}

.projectarray {
  position: relative;
  background: rgba(255,255,255,0.05);
  height: 0;
  width: 100%;
  padding-bottom: 100%;
  margin-bottom: 20px;
}

.projectarray > p.title {
  margin: 0;
  padding: 10px 10px;
  font-size: 20px;
}

.projectarray > span.version {
  margin-top: -35px;
  padding-right: 15px;
  text-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.projectarray > span.desc {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px;
}

/* project specific colors */
.projectarray-v0ltureDB {
  background: #9233AF;
  color: white;
}

.projectarray-mymu {
  background: #4caf50;
  color: black;
}

.projectarray-bugs {
  background: #1976d2;
  color: white;
}

.projectarray-vos {
  background: black;
  color: white;
}

.projectarray-veddit {
  background: #f44336;
  color: white;
}

.projectarray-mc {
  background: #795548;
  color: white;
}
/* health colors */
.health-good {
  background: #4caf50;
  color: black;
}

.health-degraded {
  background: #FFC107;
  color: black;
}

.health-down {
  background: #F44336;
  color: white;
}

.health-pending {
  background: #9E9E9E;
  color: black;
}

/* news */
.news {
  padding: 40px;
}

.news-item {
  width: 100%;
  min-height: 64px;
  background: rgba(255,255,255,0.25);
}

/* markdown wrapper styling */

/* specific colors for projects */
.markdown-wrapper.v0lturedb > *:after {
  background: #9233af !important;
}

.markdown-wrapper.v0lturedb > *, .markdown-wrapper.v0lturedb > * > * {
  border-color: #9233af !important;
}

.markdown-wrapper {
  padding: 40px;
  color: white;
}

.markdown-wrapper > *:after {
  background: #1972d2 !important;
}

.markdown-wrapper > h2 {
  font-size: 30px;
  text-transform: uppercase;
  color: white;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 5px;
}

/* lists */
.markdown-wrapper > ul li {
  list-style-type: disc;
  margin-left: 35px;
}

/* headers and header underlines */
.markdown-wrapper > h2:after {
  content: '';
  display: block;
  background: inherit;
  height: 4px;
  max-width: 50px;
  width: 100%;
}

.markdown-wrapper > h3 {
  font-size: 25px;
  text-transform: uppercase;
  color: white;
  margin-left: 7.5px;
}

.markdown-wrapper > h3:after {
  content: '';
  display: block;
  background: inherit;
  height: 4px;
  max-width: 75px;
  width: 100%;
}

.markdown-wrapper > h4 {
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  margin-left: 10px;
}

.markdown-wrapper > p {
  margin-left: 12.5px;
}

/* links */
.markdown-wrapper > a, .markdown-wrapper > * > a {
  text-transform: uppercase;
  color: white;
  border-bottom-style: solid;
  border-bottom-width: 2.5px;
}

/* code element */
.markdown-wrapper > * > code {
  background: rgba(0,0,0,0.25);
  color: white;
  padding: 5px;
  border-radius: 2px;
}

/* ad slots */
.adblock {
  padding: 40px;
  background: rgba(255,255,255,0.05);
  min-height: 10px;
  width: 100%;
}
